* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 97px;
    background-color: rgb(27, 27, 66);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0px 33px 0px 33px;
    padding: 0px 33px 0px 33px;
}

#logo {
    margin: 10px 5px
}

#logo img {
    height: 77px;
    width: 77px;
    border-radius: 200px;
    transition: all;
    transition-duration: 2s;
}

#logo img:hover {
    height: 150px;
    width: 157px;
}

.left {
    font-size: 1.7rem;
    margin-left: 15px;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 73px 0px;
    align-items: center;
}


.leftsection {
    font-size: 3rem;
    width: 40%;
}

.rightsection {
    width: 30%;
}

.rightsection img {
    width: 77%;
}

.col {
    color: rgb(170, 107, 255);
}

ul a {
    color: white;
    text-decoration: none;
}

ul a:hover {
    color: rgb(211, 200, 200);
    font-size: large;
    font-weight: bold;
}

#element {
    color: rgb(132, 98, 47);
}

nav li p {
    margin: 0px 0px 0px -10px;
}

.secondsection{
    max-width: 80vw;
    margin: auto;
    height: 66vh;
    align-items: center;

}


.bigger::before{
    content: " ";
    position: absolute;
    background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--r4SW6gl_--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/ac3ccu9m69dhbnbet1o6.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70%;
    z-index: -1;
    opacity: 0.5;
}

.text-grey{
    color: grey;
  
}

.secondsection h1{
    font-size: 2rem;
    margin-top: 15px;
}

  a .resume{
    color:white;
    font-size: 1rem;
    margin-top: 44px;
    width:143px;
    height: 32px;
    border: 2px solid white;
    text-align: center;
    padding-top: 8px;
    border-radius: 8px;
}

a{
    text-decoration: none;
}

a .resume:hover{
    font-size: large;
    font-weight: bold;
    width:163px;
    height: 40px;
    padding-top: 15px;
}

.Ibis{
    margin-top: 25px;
}

.Disha {
    margin-top: 65px;
}

.hoteldis{
    margin-top: 7px;
}

.dishadis{
    margin-top: 7px;
}

.but{
    display: flex;
}

.but a{
    margin-right: 14px;
}